<%= form_with(model: [ trip, list ]) do |form| %>
  <%= render "form_errors", model: list %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
