<%= form_with(model: trip) do |form| %>
  <%= render "form_errors", model: trip %>

  <div class="form-field">
    <%= form.label :starts_on, class: "label" %>
    <%= form.date_field :starts_on, class: "input-text" %>
  </div>

  <div class="form-field">
    <%= form.label :ends_on, class: "label" %>
    <%= form.date_field :ends_on, class: "input-text" %>
    <p class="hint">Optional</p>
  </div>

  <div class="form-actions">
    <%= form.submit class: "button" %>
  </div>
<% end %>
