<div id="<%= dom_id trip %>">
  <p>
    <strong>Starts on:</strong>
    <%= trip.starts_on %>
  </p>

  <p>
    <strong>Ends on:</strong>
    <%= trip.ends_on %>
  </p>

  <p>
    <strong>Origin:</strong>
    <%= trip.origin_id %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= trip.destination_id %>
  </p>

</div>
