<%= form_with(model: [ list_item.trip, list_item.list, list_item ]) do |form| %>
  <%= render "form_errors", model: list_item %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
